<!DOCTYPE html>
<html>
	<head>
		<title>ToDo Login</title>

        {% load static %}
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
		<link rel="stylesheet" href='{% static "css/styles.css" %}'>
        <script src='{% static "js/script.js" %}'></script>
        <link rel="shortcut icon" href='{% static "images/favicon.ico" %}' type="image/x-icon">
	</head>
	<body>
		<div class="container h-100">
			<div class="row vh-100">
				<div class="row justify-content-center align-items-center">
					<div class="col-4 align-middle" id="login-form">
						<form method="post" action="{% url 'login' %}"> {% csrf_token %}
							<input class="input-group mt-4" type="text" name="username" placeholder="login">
							<input class="input-group mt-2 mb-4" type="password" name="password" placeholder="password">
							<input class="input-group mb-4" type="submit" value="Log In">
						</form>
						<hr class="solid" />
						<div class="row justify-content-center mb-4">
							<a href="{% url 'social:begin' 'google-oauth2' %}">
								<img src='{% static "images/goggle_g_icon.png" %}' />
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
