* {
    /* border: 1px solid black; */
    margin: 0;
    padding: 0;
}

.app > button {
    border-radius: 25px;
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 50px;
}

.task-item {
    background-color: burlywood;
    border-radius: 5px 5px 5px 5px;
    margin: 10px;
}

.new-task-form {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 30%;
    height: 30%;
    background-color: gainsboro;
    z-index:1;
    margin: 10% auto;
    border-radius: 5px 5px 5px 5px;
    align-content: center;
}

.hidden {
    display: none;
}

#login-form {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
}

.column {
    border: 1px solid black;
    min-height: 135px;
}

.new-task-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 25px;
    margin: 30px 30px 30px 30px;
    width: 50px;
    height: 50px;
}


.drop-zone {
    background-color: #eee;
    border: 10 solid black;
    margin-bottom: 10px;
    padding: 10px;
}

.drag-el {
    background-color: #fff;
    border: 10 solid black;
    margin-bottom: 10px;
    padding: 5px;
}