.new-task-form {
    position: absolute;
    width: 600px;
    height: 340px;
    background-color: grey;
    z-index:1002;
    position: relative;
    margin: 10% auto;
}

.hidden {
    display: none;
}