<!DOCTYPE html>
<html>
    <head>
        <title>ToDo</title>

        {% load static %}
        <link rel="stylesheet" href='{% static "css/styles.css" %}'>
        <script src='{% static "js/script.js" %}'></script>
        <link rel="shortcut icon" href='{% static "images/favicon.ico" %}' type="image/x-icon">
    </head>
    <body>
        <h1>Home page for {{ request.user }}</h1>
        
        <h2>My Tasks:</h2>
        
        <h3>In Progress</h3>

        <ul>
            {% for task in tasks %}
                {% if not task.done %}
                    <li id="task#{{ task.id }}">
                        <div>
                            {{ task.title }}
                            {{ task.description }}
                            {{ task.done }}
                            <button onclick="deleteTask({{ task.id }})">Delete</button>
                            <form method="post" action="/done-task/"> {% csrf_token %}
                                <input type="hidden" name="taskID" value="{{ task.id }}" />
                                <input type="submit" value="Done!" />
                            </form>
                        </div>
                    </li>
                {% endif %}
            
            {% endfor %}
        </ul>
        
        <br><br>
        
        <h3>Done</h3>
        <ul>
            {% for task in tasks %}
                {% if task.done %}
                    <li id="task#{{ task.id }}">
                        <div>
                            {{ task.title }}
                            {{ task.description }}
                            {{ task.done }}
                            <button onclick="deleteTask({{ task.id }})">Delete</button>
                            <form method="post" action="/in-progress-task/"> {% csrf_token %}
                                <input type="hidden" name="taskID" value="{{ task.id }}" />
                                <input type="submit" value="Stil not done!" />
                            </form>
                        </div>
                    </li>
                {% endif %}
            
            {% endfor %}
        </ul>
        
        <br><br>
        
        
        <button id="new-task" onclick="showForm()">New task</button>
        
        <div id="new-task-form">
            <form method="post" action="/new-task/"> {% csrf_token %}
                <input type="text" name="Title" value="Title" />
                <input type="text" name="Description" value="Description" />
                <input type="submit" value="Create" />
           </form>
           <button onclick="hideForm()">x</button>
        </div>
    
    </body>
</html>